.border{
  border: 2px solid red;
  margin: 3px;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
} 

.bg-black{
  background-color: black;
  color: white;
}

.invert{
  filter:invert(1);
}

.bg-grey{
  background-color: #121212;
}

.rounded{
  border-radius: 7px;
}

.m-1{
  margin: 5px;

}

.p-1{
  padding: 14px;
}


.cardContainer {
  overflow-y: auto;
  height: 60vh; 
}


.cardContainer::-webkit-scrollbar {
  width: 8px;             
}

.cardContainer::-webkit-scrollbar-track {
  background: #222;        
}

.cardContainer::-webkit-scrollbar-thumb {
  background: #000;         
  border-radius: 4px;       
}

.cardContainer::-webkit-scrollbar-thumb:hover {
  background: #333;         
}


.cardContainer {
  scrollbar-width: thin;    
  scrollbar-color: #000 #222;
}


.songList::-webkit-scrollbar {
  width: 8px;              
}

.songList::-webkit-scrollbar-track {
  background: #ddd;          
}

.songList::-webkit-scrollbar-thumb {
  background: #888;          
  border-radius: 4px;        
}

.songList::-webkit-scrollbar-thumb:hover {
  background: #666;          
}


.songList {
  scrollbar-width: thin;           
  scrollbar-color:#000 #222;     
}

@media (max-width: 500px) {
.cardContainer {
  overflow-y: auto;
  height: 80vh;
}

}
